# путь к директории для сохранения файлов
MEDIA_PATH=/media

# путь к директории для логирования
LOGGING_PATH=/logs
# формат для записей логов
LOGGING_FORMAT="%(name)s %(asctime)s %(levelname)s %(message)s"
# уровень логирования
LOGGING_LEVEL=DEBUG

# ключи для доступа к API
# https://apilayer.com/marketplace/geo-api
API_KEY_APILAYER=R2aUdnNSqz7653IQVycOAdI3UikTDDOB
# https://openweathermap.org/price#weather
API_KEY_OPENWEATHER=85db68485b2e8bf6e4f756b3610b815d
# https://newsapi.org/v2
API_KEY_NEWSAPI=7712264b126242f4b9930d8b346e11be

# время актуальности данных о странах (в секундах)
CACHE_TTL_COUNTRY=31_536_000
# время актуальности данных о курсах валют (в секундах)
CACHE_TTL_CURRENCY_RATES=86_400
# время актуальности данных о погоде (в секундах)
CACHE_TTL_WEATHER=10_700
# время актуальности данных о новостях (в секундах) 
CACHE_TTL_WEATHER=3_600
